---
import { Call02Icon, Email, Location, Phone } from "@hugeicons/core-free-icons"
import { HugeiconsIcon } from "@hugeicons/react"
import { Button } from "./ui/button"
---

<section id="contact" class="scroll-m-20">
  <div class="container mx-auto max-w-4xl space-y-12 py-16 text-center">
    <h2 class="text-4xl font-bold text-blue-500 md:text-5xl">Get In Touch</h2>

    <ul class="mt-10 grid gap-6 text-left md:grid-cols-3">
      <li class="space-y-4 rounded-lg border bg-background p-4 shadow-sm">
        <div class="flex items-center gap-3">
          <div
            class="grid size-10 place-content-center rounded-xl bg-primary/30 text-primary"
          >
            <HugeiconsIcon icon={Email} />
          </div>
          <div>
            <h3 class="text-xl font-bold">Email</h3>
            <p class="text-slate-600 dark:text-slate-400">Get in touch via email</p>
          </div>
        </div>
        <a
          href="mailto:gagarinroyvictor@gmail.com"
          class="font-bold text-blue-500 hover:underline"
        >
          gagarinroyvictor@gmail.com
        </a>
      </li>
      <li class="space-y-4 rounded-lg border bg-background p-4 shadow-sm">
        <div class="flex items-center gap-3">
          <div
            class="grid size-10 place-content-center rounded-xl bg-primary/30 text-primary"
          >
            <HugeiconsIcon icon={Call02Icon} />
          </div>
          <div>
            <h3 class="text-xl font-bold">Phone</h3>
            <p class="text-slate-600 dark:text-slate-400">Call me anytime</p>
          </div>
        </div>
        <a
          href="tel:+639563040025"
          class="font-bold text-blue-500 hover:underline"
        >
          (+63) 956 304 0025
        </a>
      </li>
      <li class="space-y-4 rounded-lg border bg-background p-4 shadow-sm">
        <div class="flex items-center gap-3">
          <div
            class="grid size-10 place-content-center rounded-xl bg-primary/30 text-primary"
          >
            <HugeiconsIcon icon={Location} />
          </div>
          <div>
            <h3 class="text-xl font-bold">Location</h3>
            <p class="text-slate-600 dark:text-slate-400">Based in Tarlac, PH</p>
          </div>
        </div>
        <span class="font-bold text-blue-500">
          San Nicolas, Victoria, Tarlac
        </span>
      </li>
    </ul>

    <div class="contact-bg relative space-y-4 rounded-xl p-20 overflow-hidden bg-background isolate">
      <h3 class="text-3xl font-bold md:text-5xl">
        Ready to build something amazing?
      </h3>
      <p
        class="mx-auto max-w-[65ch] text-base md:text-lg leading-relaxed text-balance text-slate-600 dark:text-slate-200"
      >
        I'm always open to discussing new projects, creative ideas or
        opportunities to be part of your vision.
      </p>
      <div class="flex items-center justify-center gap-4">
        <a href="mailto:gagarinroyvictor@gmail.com">
          <Button client:visible size="lg"> Send me an email </Button>
        </a>
        <a href="#">
          <Button client:visible size="lg"> View my work </Button>
        </a>
      </div>
    </div>
  </div>
</section>

<style>
  .contact-bg::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    background-color: var(--background);
    opacity: 0.3;
    background-image:
      repeating-radial-gradient(circle at 0 0, transparent 0, var(--background) 40px),
      repeating-linear-gradient(var(--background), var(--color-blue-500));
  }
</style>
