---
import "@/styles/global.css"
import { BlobBackground } from "@/components/ui/blob-background"
import { SEO } from "astro-seo"
import "@polgubau/astro-reveal/styles"
---

<script is:inline>
  const getThemePreference = () => {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
      return localStorage.getItem("theme")
    }
    return window.matchMedia("(prefers-color-scheme: dark)").matches
      ? "dark"
      : "light"
  }
  const isDark = getThemePreference() === "dark"
  document.documentElement.classList[isDark ? "add" : "remove"]("dark")

  if (typeof localStorage !== "undefined") {
    const observer = new MutationObserver(() => {
      const isDark = document.documentElement.classList.contains("dark")
      localStorage.setItem("theme", isDark ? "dark" : "light")
    })
    observer.observe(document.documentElement, {
      attributes: true,
      attributeFilter: ["class"],
    })
  }
</script>

<html lang="en">
  <head>
    <SEO
      title="Roy Victor Gagarin | Full Stack Developer"
      description="Full-Stack Web Developer specializing in building web-based systems, internal tools, and APIs using Laravel, Node.js, Vue, and React."
      openGraph={{
        basic: {
          title: "Roy Victor Gagarin | Full-Stack Web Developer",
          type: "website",
          image: "https://seyren10.github.io/portfolio/og_image.png",
        },
      }}
    />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/portfolio/favicon.ico" />
    <title>Roy Victor Gagarin | Full Stack Developer</title>
  </head>
  <body class="bg-pattern relative bg-background antialiased">
    <BlobBackground client:load />
    <slot />

    <script>
      import "@polgubau/astro-reveal"
    </script>
  </body>
</html>

<style>
  html {
    scroll-behavior: smooth;
  }
</style>
